Nombre Grupo: {{ Nombre_Grupo }} 
División: {{ Division }}
Fecha: {{ ansible_facts.date_time.date }}
—-------------------------
Distribución: {{ ansible_facts.distribution }}
Cantidad de Cores: {{ ansible_facts.processor_cores }}
—-------------------------
R1: Nombre: Thiago         Apellido: Ramos
R2: Nombre: Patricio       Apellido: Moretti
R3: Nombre: Tadeo Agustin  Apellido: Iuliani
R4: Nombre: Giuliana       Apellido: Delgobbo
R5: Nombre: Leandro Manuel Apellido: More
R6: Nombre: Thiago         Apellido: Ramos

